{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="http://maps.google.com/maps/api/js?sensor=true">
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='maps.js') }}" async></script>

{% endblock %}
{% block content %}
    <div id="map_canvas"></div>
    <div id="mobile-button">
        <div id="mobile-button-lines">
            <div class="mobile-button-line"></div>
            <div class="mobile-button-line"></div>
            <div class="mobile-button-line"></div>
        </div>
        <div id="mobile-button-close-panel">
            <span id="x">X</span>
        </div>
    </div>
    <div id="debug_panel">
    <div id="debug_panel_content">
        <div id="debug_panel_header">
            KNSI Omega
        </div>
        <div id="debug_panel_subheader">
            This is debug panel
        </div>
        <button class="button" id="stops_button">Show Bus Stops</button>
        <button class="button" id="hide_stops_button">Hide Bus Stops</button>
        <button class="button" id="display_buses_button">Display Bus</button>
        <button class="button" id="hide_buses_button">Hide Bus</button>
        <button class="buttonBusNumber" id="100">100</button>
        <button class="buttonBusNumber" id="103">103</button>
    </div>
{% endblock %}
{% block postbody %}
{% endblock %}